/* Estilos Generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #004d40; /* Color oscuro para contraste */
    color: white;
}

h1 {
    margin-bottom: 5px;
}

/* Estilo del Contenedor del Mapa */
#map {
    height: 70vh; /* 70% del alto de la ventana para buena visibilidad */
    width: 90%;
    margin: 20px auto;
    border: 5px solid #004d40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
}